@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-text-base: var(--color-text-base);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-link: var(--color-text-link);
  --color-input: var(--color-input);
  --color-bg: var(--color-bg)
}

:root {
  --color-text-base: #414142; 
  --color-text-secondary: #878F91; 
  --color-text-link: #66A1CD;
  --color-input:#F7F6F6;
  --color-bg: #F5F5F5;  
}

.dark {
  --color-text-base: #E7ECEF;
  --color-text-secondary: #C4C6C8; 
  --color-text-link: #66A1CD;
  --color-input: #3A5068;
  --color-bg :#1A2033;
}

.scrollbar::-webkit-scrollbar {
  @apply !w-[3px];
}
.scrollbar::-webkit-scrollbar-track {
  @apply !rounded-lg;
}
.scrollbar::-webkit-scrollbar-thumb {
  /* @apply !rounded-lg bg-base-200; */
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  /* @apply !bg-base-400; */
}
.auth-layout{
  @apply w-full h-screen bg-[url('/bgLight.svg')] dark:bg-[url('/bgDark.png')] bg-no-repeat bg-cover bg-center flex items-center justify-center relative
}