services:
  postgres:
    image: postgres:17
    container_name: kharjam-user-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5443:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - user-network
      - rabbitmq-network
      - redis-network
    healthcheck:
      test: ["CMD-SHELL", "PGPASSWORD=${POSTGRES_PASSWORD} psql -U ${POSTGRES_USER} -d ${POSTGRES_DB} -c 'SELECT 1' || exit 1"]
      interval: 3s
      timeout: 5s
      retries: 15
      start_period: 20s

  user-service:
    build: 
      context: .
    image: kharjam/user-service:v1.0.0
    container_name: kharjam-user-service
    ports:
      - "800:8000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - user-network
      - rabbitmq-network
      - redis-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres_data:


networks:
  user-network:
    driver: bridge
  rabbitmq-network:
    external: true
    name: rabbitmq_rabbitmq-network
  redis-network:
    external: true
    name: redis_network