[submodule "Backend/split_service"]
	path = Backend/split_service
	url = https://github.com/AhEsmaeili79/split_service.git
[submodule "Backend/user_service"]
	path = Backend/user_service
	url = https://github.com/AhEsmaeili79/user_service.git
[submodule "Backend/communication_service"]
	path = Backend/communication_service
	url = https://github.com/AhEsmaeili79/communication_service.git
[submodule "Backend/system_service"]
	path = Backend/system_service
	url = https://github.com/AhEsmaeili79/system_service.git
