# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Pipenv
Pipfile.lock

# Virtualenv
.env
.venv/
venv/
ENV/
env/
*.env

# Django specific
db.sqlite3
*.sqlite3
/media/
staticfiles/
static/
*.log

# Migrations (optional: keep if needed in version control)
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/__pycache__/

# IDEs and Editors
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db
